/* Setup snippet */
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

main {
    display: block;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

b,
strong {
    font-weight: inherit;
}
b,
strong {
    font-weight: bolder;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

[hidden] {
    display: none;
}

/* General styling */
html {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*Colour */
:root {
    --pink-primary: #cb997e;
    --peach-primary: #ddbea9;
    --beige-primary: #ffe8d6;
    --warm-gray: #b7b7a4;
    --olive-primary: #a5a58d;
    --green-primary: #6b705c;
}

/* Global Styles */
.wrapper {
    max-width: 1240px;
    width: 90%;
    margin: 0px auto;
}

button {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

button:hover,
button:focus {
    background-color: var(--olive-primary);
}

/* Header styling */
h1 {
    color: #926e6f;
    padding: 0 50px;
}

h4 {
    color: #fff;
}

/* Display lists styling */
.search-container,
.prediction-container {
    text-align: center;
    border: 1px solid black;
    background-color: var(--pink-primary);
}

.prediction-container {
    padding: 20px 10px 30px 10px;
    margin: 20px 0;
}

.prediction-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    column-gap: 20px;
}

.prediction-list {
    padding-left: 0;
}

.prediction-container ol {
    padding-left: 20px;
}

.search-list li,
.prediction-list li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

/*----STYLING FOR SEARCH COMPONENT */
.bg-color {
    padding: 20px 0;
}

.search-container {
    background-color: var(--green-primary);
    padding: 10px 0 40px 0;
}

form {
    width: 250px;
    margin: 30px auto;
    padding: 20px 0;
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--pink-primary);
}

.search-drop-down {
    appearance: none;
    border: 1px solid black;
    height: 40px;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
}

.search-drop-down:hover,
.search-drop-down:focus {
    background-color: var(--olive-primary);
}

label {
    font-size: 18px;
    text-transform: capitalize;
    padding-top: 10px;
    color: white;
    font-weight: 700;
}

.hidden {
    display: none;
}

.search-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
    padding: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.column img {
    max-width: 100%;
}
.column li button {
    grid-column: span 2;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* Page list styling */
.page-container {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.page-btn {
    width: 30px;
    padding: 5px;
    margin: 0 5px;
    border: none;
    border-radius: 50%;
}

.page-btn:hover,
.page-btn:focus {
    background-color: var(--pink-primary);
}

/* Movie details styling */
.movie-detail-container {
    padding: 50px;
    display: flex;
    background-color: var(--green-primary);
    color: #fff;
}

.movie-description {
    width: 70%;
    padding-right: 50px;
}

.movie-description h2 {
    margin-top: 0;
}

.movie-poster img {
    max-width: 100%;
}

/* Footer styling */
footer {
    text-align: center;
    background-color: var(--pink-primary);
    padding: 5px;
}

footer a {
    text-decoration: none;
    color: #000;
}

footer a:hover,
footer a:focus {
    color: #926e6f;
}
